/*************************************************/
/* Basic Resets
/*************************************************/
* {
    margin: 0;
    padding: 0;
}
/*************************************************/
/* Typography
/*************************************************/
h1, h2 {
    font-family: "Roboto";
    font-weight: 500;
}

a {
    font-family: "Roboto";
    font-weight: 400;
}

a:hover {
    color:#000;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin:0;
    padding:10px 20px;
    color:#FFF;
}

section p:first-child {
    padding-top:20px;
}

/*************************************************/
/* Global styles
/*************************************************/
section {
    margin-bottom: 30px;
}

/*************************************************/
/* Nav styles
/*************************************************/
.navbar-default {
    background-color: #f2f2f2;
    border-bottom:1px solid #ddd;
}

.navbar-default .navbar-brand {
    color:#000;
}

.navbar-default .navbar-toggle {
    border-color:#888;
}

.navbar-default .navbar-toggle:hover {
    background-color:#ddd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
/*************************************************/
/* Chicken (graded/ungraded)
/*************************************************/
#chicken-graded section {
    background-color: #F2F2F2;
    padding-bottom: 20px;
}

#chicken-graded h2 { 
    background-color: #FF9999;
}

#chicken section {
    background-color: #F2F2F2;
    padding-bottom: 20px;
}

#chicken h2 { 
    background-color: #FF9999;
}


/*************************************************/
/* Beef
/*************************************************/
#beef section {
    background-color: #F2F2F2;
    padding-bottom: 20px;
}

#beef h2 {
    background-color: #990000;
}

/*************************************************/
/* Sushi
/*************************************************/
#sushi section {
    background-color: #F2F2F2;
    padding-bottom: 20px;
}

#sushi h2 {
    background-color: #00CC66;
}