/*************************************************/
/* Basic Resets
/*************************************************/
* {
    margin: 0;
    padding: 0;
}
/*************************************************/
/* Typography
/*************************************************/


/*************************************************/
/* Chicken
/*************************************************/
#chicken section {
    background-color: #F2F2F2;
    padding-bottom: 20px;
    min-height:550px;
}

/*************************************************/
/* Beef
/*************************************************/
#chicken section {
    background-color: #F2F2F2;
    padding-bottom: 20px;
    min-height:550px;
}

/*************************************************/
/* Sushi
/*************************************************/
#chicken section {
    background-color: #F2F2F2;
    padding-bottom: 20px;
    min-height:550px;
}